body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem; }

.header {
  text-align: center; }

.signit {
  font-size: 400%;
  font-weight: bold;
  display: block; }

.about {
  padding-bottom: 4rem; }
